.faq-container {
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;

  & .faq-body {
    grid-area: 1 / 2 / 2 / 3;

    & h2 {
      text-align: center;
    }

    & div.p-highlight span {
      color: #e87524;
    }
  }
}
