services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    command: ["npm", "run", "start"]
    image: khouma48439/vendezvotresaucisse:api-latest
    environment:
      NODE_ENV: production
      PORT: 3001
    expose:
      - "3001"
    networks:
      - web

  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        BUILD_DIR: build
    image: khouma48439/vendezvotresaucisse:web-latest
    expose:
      - "80"
    depends_on:
      - api
    networks:
      - web

networks:
  web:
    driver: bridge
    external: true
