$headerbg: #0D4F78;
$primary-color: #E87524;
$secondary-color: #f8f9fc;

@font-face {
    font-family: 'Roobert';
    src: url('./assets/fonts/RoobertTRIALVF-BF67243fd545701.ttf')
}

body {
    margin: 0;
    padding: 0;
    font-family:'Roobert', 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

.home-container {
    & h4 {
        padding: 0;
        margin: 0;
    }

    & h1 {
        padding: 0;
        margin: 0;
    }

    & ul li {
        margin: 0 !important;
        padding: 0;
    }
    
    .suggestion {
        width: 50rem;
        margin: auto;

        &.title {
            font-size: 2rem;
            margin-bottom: 2rem;
            color: $headerbg;
            text-align: center;
        }

        .p-carousel-prev,
        .p-carousel-next {
            display: none !important;
        }

    }

    .top-blue-saucisse-container {
        background-color: $headerbg;
        display: flex;
        flex-direction: column;
        padding-left: 200px;
        padding-bottom: 10rem;
    }

    .saucisse-home {
        &.saucisse-size{
         text-align: center;

         &.saucisse-selected{
            display: flex;
            justify-content: center;
            gap:4rem;
            padding: 1rem;
         }
        }

        &.button-validation {
            margin-top: 1rem;
        }

        &.caca {
            position: relative;
            top: -100px;
        }

        &.title {
            margin-top: 40px;
            font-size: 48px;
            text-align: left;
            color: $secondary-color;
        }

        &.list {
            color: $secondary-color;
            font-size: 32px;
            list-style-type: none;
            padding-inline-start: 0px;

            & li i {
                font-size: 32px;
                padding: 1rem;
            }
        }

        &.hero {
            display: flex;
            justify-content: left;
            align-items: center;
        }

        &.card {
            width: 70rem;
            margin: auto;
            color: $headerbg;

            &.card-body {
                width: 30rem;
                margin: auto;
                display: flex;
                flex-direction: column;
                gap: 0.5rem
            }
        }
    }

    .p-card-title {
        font-size: 3rem;
        text-align: center;
        padding: 2rem;
    }

}

.header {
    background-color: $headerbg;
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    justify-content: center;
    align-items: center;

    img {
        grid-area: 1 / 1 / 1 / 2;
        justify-self: flex-end;
        cursor: pointer;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        & .nav {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: transparent;
            border: none;
            color: #fff;
            width: 15%;
            text-decoration: none;
            cursor: pointer;
            border-top: 4px solid #0D4F78;

            &:hover, &.active {
                background-color: #fff;
                color: #E87524;
                border-top: 4px solid #E87524;
            }
        }
    }
}

.footer {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    background-color: #4A4A4A;
    color: #FFF;
}