$headerbg: #0d4f78;
$primary-color: #e87524;
$secondary-color: #f8f9fc;

@font-face {
  font-family: "Roobert";
  src: url("./assets/fonts/RoobertTRIALVF-BF67243fd545701.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roobert", "Courier New", Courier, monospace;
}

#root {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#root > header,
#root > .header {
  grid-row: 1;
}
#root > main {
  grid-row: 2;
  min-height: 0;
}
#root > footer,
#root > .footer {
  grid-row: 3;
}

main {
  min-height: 0; // prend la place dispo
}

html,
body {
  height: 100%;
}

.home-container {
  & h4 {
    padding: 0;
    margin: 0;
  }

  & h1 {
    padding: 0;
    margin: 0;
  }

  & ul li {
    margin: 0 !important;
    padding: 0;
  }

  .suggestion {
    width: 50rem;
    margin: auto;

    &.title {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: $headerbg;
      text-align: center;
    }

    .p-carousel-prev,
    .p-carousel-next {
      display: none !important;
    }
  }

  .top-blue-saucisse-container {
    background-color: $headerbg;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-bottom: 10rem;
  }

  .saucisse-home {
    &.saucisse-size {
      text-align: center;

      &.saucisse-selected {
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding: 1rem;
      }
    }

    &.button-validation {
      margin-top: 1rem;
    }

    &.caca {
      position: relative;
      top: -100px;
    }

    &.title {
      margin-top: 40px;
      font-size: 48px;
      text-align: left;
      color: $secondary-color;
    }

    &.list {
      color: $secondary-color;
      font-size: 32px;
      list-style-type: none;
      padding-inline-start: 0px;

      & li i {
        font-size: 32px;
        padding: 1rem;
      }
    }

    &.hero {
      display: flex;
      justify-content: left;
      align-items: center;
    }

    &.card {
      width: 70rem;
      margin: auto;
      color: $headerbg;

      &.card-body {
        width: 30rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    &.estimation-result {
      text-align: justify;
      font-size: 1rem;
      color: $headerbg;
    }
  }

  .p-card-title {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
  }
}

.header {
  background-color: $headerbg;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  justify-content: center;
  align-items: center;
  height: 5vh;

  img {
    grid-area: 1 / 1 / 1 / 2;
    justify-self: flex-end;
    cursor: pointer;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & .nav {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: transparent;
      border: none;
      color: #fff;
      width: 15%;
      text-decoration: none;
      cursor: pointer;
      border-top: 4px solid #0d4f78;

      &:hover,
      &.active {
        background-color: #fff;
        color: #e87524;
        border-top: 4px solid #e87524;
      }
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  background-color: #4a4a4a;
  color: #fff;

  & .footer-info {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 20% 80%;
    flex-direction: column;

    & h3 {
      grid-area: 1 / 2 / 2 / 3;
      padding: 1rem 0;
      margin: 0;
    }

    & .liens {
      grid-area: 2 / 2 / 3 / 4;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      justify-content: center;

      & a {
        text-decoration: none;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }

      & .site {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      & .services {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }

  & .profile_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .profiledev {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      & img {
        height: 4rem;
        width: 4rem;
        border: 3px solid #0d4f78;
      }

      @mixin text-outline($size: 2px, $color: #000) {
        color: #fff;
        $shadows: ();
        @for $y from -$size through $size {
          @for $x from -$size through $size {
            @if not($x == 0 and $y == 0) {
              $shadows: append($shadows, #{$x}px #{$y}px 0 $color, comma);
            }
          }
        }
        text-shadow: $shadows;
      }

      & span {
        font-size: 1.8rem;
        @include text-outline(1, #000); // 2px de contour noir
      }
    }
  }

  & .logominia {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      height: 8rem;
    }
  }
}
