$headerbg: #0D4F78;

@font-face {
    font-family: 'Roobert';
    src: url('./assets/fonts/RoobertTRIALVF-BF67243fd545701.ttf')
}

body {
    margin: 0;
    padding: 0;
    font-family:'Roobert', 'Courier New', Courier, monospace;
}

.header {
    background-color: $headerbg;
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    justify-content: center;
    align-items: center;

    img {
        grid-area: 1 / 1 / 1 / 2;
        justify-self: flex-end;
        cursor: pointer;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        & .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: transparent;
            border: none;
            color: #fff;
            width: 15%;
            text-decoration: none;
            cursor: pointer;
            border-top: 4px solid #0D4F78;

            &:hover, &.active {
                background-color: #fff;
                color: #E87524;
                border-top: 4px solid #E87524;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    & p {
        font-size: 60px;
        & span {
            color: #E87524;
        }
    }
}

.apropos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & .context {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0D4F78;
            height: 200px;
            font-size: 3rem;
            margin: 0;
            color: #FFF;
            width: 100vw;
        }

        & p {
            font-size: 2.2rem;
            text-align:center;
            width: 50%; 
        }

        & span {
            font-size: 2.2rem;
        }
    }

    & .streamer {
        display: flex;
        flex-direction: column;
        height: 500px;

        & h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0D4F78;
            height: 200px;
            font-size: 3rem;
            margin: 0;
            color: #FFF;
            width: 100vw;
        }

        & .presentation {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            width: 100vw;
            height: 206px;

            & p {
                font-size: 30px;
                width: 40vw;
            }

            & .description {
                display: flex;
                justify-content: center;
                margin-right: 50px;
            
                & img {
                    width: 200px;
                    border-radius: 50%;
                    margin-right: 30px;
                    border: 6px solid #F8AB00;
                }

                & div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    & h1 {
                        margin: 0;
                    }

                    & a {
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }    

    & .developers {
        display: flex;
        height: 500px;

        & img {
            width: 200px;
            border-radius: 50%;
            margin-right: 30px;
            border: 6px solid #F8AB00;
        }
    }
}