$headerbg: #0D4F78;

body {
    margin: 0;
    padding: 0;
}


.header {
    background-color: $headerbg;
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    justify-content: center;
    align-items: center;

    img {
        grid-area: 1 / 1 / 1 / 2;
        justify-self: flex-end;
        cursor: pointer;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        & .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: transparent;
            border: none;
            color: #fff;
            width: 15%;
            text-decoration: none;
            cursor: pointer;
            border-top: 4px solid #0D4F78;

            &:hover, &.active {
                background-color: #fff;
                color: #E87524;
                border-top: 4px solid #E87524;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    & p {
        font-size: 60px;
        & span {
            color: #E87524;
        }
    }
}

.apropos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & .presentation {
        display: flex;
        justify-content: center;
        font-size: 30px;
        width: 100vw;
        height: 206px;

        & .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        & h1 {
            margin: 0;
        }

        & a {
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;;
        }

        
        & img {
            width: 200px;
            border-radius: 50%;
            margin-right: 30px;
            border: 6px solid #F8AB00;
        }
    }

}