$headerbg: #0D4F78;
$primary-color: #E87524;
$secondary-color: #f8f9fc;

@import url('./home.scss');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h4{
    padding: 0;
    margin: 0;
}

h1{
    padding: 0;
    margin: 0;
}

ul li{
    margin: 0 !important;
    padding: 0;
}

.dropdown{

}
.top-blue-saucisse-container{
    background-color: $headerbg;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-bottom: 10rem;
}

.saucisse-home{
    &.button-validation{
        margin-top: 1rem;
    }
    &.caca{
        position: relative;
        top: -100px;
    }
    &.title{
        margin-top: 40px;
        font-size: 48px;
        text-align: left;
        color: $secondary-color;
    }
    &.list{
        color: $secondary-color;
        font-size: 32px;
        list-style-type: none;
        padding-inline-start: 0px;
        & li i{
            font-size: 32px;    
            padding: 1rem;    
        }
    }
    &.hero{
        display: flex;
        justify-content: left;
        align-items: center;
    }
    &.card{
        width: 70rem;
        margin: auto;
    color: $headerbg;
     &.card-body{
        width: 20rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap:0.5rem
     }
    }
    }

    .p-card-title{
        font-size: 3rem;
        text-align: center;
        padding: 2rem;
    }

.header {
    background-color: $headerbg;
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    justify-content: center;
    align-items: center;

    img {
        grid-area: 1 / 1 / 1 / 2;
        justify-self: flex-end;
        cursor: pointer;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        & button {
            background-color: transparent;
            border: none;
            color: #fff;
            width: 15%;
            height: 100%;
            cursor: pointer;
            &:hover {
                background-color: #fff;
                height: 100%;
                color: #E87524;
                border-top: 4px solid #E87524;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    & p {
        font-size: 60px;
        & span {
            color: #E87524;
        }
    }
}