.live-dot {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: #000;
  margin-left: 0.2rem;
}

/* anneau rouge qui clignote UNIQUEMENT quand live */
.live-dot.is-live {
  border-radius: 9999px;
  background-color: #ef4444;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
