.cgnv-container {
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  height: 100%;

  & .cgnv-body {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    border-radius: 1rem;

    & h1 {
      text-align: center;
    }

    & ul {
      padding: 3rem;
      & li {
        font-size: 1.3rem;
        text-align: justify;
      }
    }
  }
}
