.badge-twitch-container {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  width: 100%;
  color: #fff;

  & .badge-twitch-body {
    display: flex;

    & .online {
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 50px;
        border-radius: 20%;
      }

      & .online-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        & .online-status {
          display: flex;
          align-items: center;
        }
      }
    }

    & .stream-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;

      & .viewers {
        display: flex;
        align-items: center;

        & .pi {
          margin-right: 3px;
        }
      }
    }
  }
}
