name: Build & Deploy FRONT to VPS (Vite)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy-front:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: vendezvotresaucisse/package-lock.json

      - name: Install deps (front)
        working-directory: vendezvotresaucisse
        run: npm ci

      - name: Build (front)
        working-directory: vendezvotresaucisse
        run: |
          npm run build
          
      - name: Upload build to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "vendezvotresaucisse/dist/*"
          target: "/var/www/saucisse/current/"
          strip_components: 2

      - name: Reload Nginx (optional)
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: sudo systemctl reload nginx || true #je sais pas si ton vps est sur nginx ou caddy ou apache
